</br>
</br>
<div class="container">
<div class="jumbotron">
<center>
  <h1 class="display-6">World Wide Tour Packages at One place!</h1>
  <p class="lead">Land Tour, Private Tour, Cruise Packages, Air Tickets at Very affordable price, with excellent Service.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</center>
</div>
</div>